// text colors
.color-white {
  color: $white;
}
.color-blue-light {
  color: $blue-light;
}
.color-blue-dark-2 {
  color: $blue-dark-2;
}
.color-blue-medium {
  color: $blue-medium;
}
.color-blue-dark {
  color: $blue-dark;
}
.color-gray {
  color: $gray;
}
.color-error {
  color: $error-text;
}
// background colors
.bg-white {
  background: $white;
}
.bg-blue-light {
  background: $blue-light;
}
.bg-blue-medium {
  background: $blue-medium;
}
.bg-blue-dark {
  background: $blue-dark;
}
.bg-error {
  background: $error-bg;
}
.bg-sky-blue {
  background: $sky-blue;
}

.bg-white-opacity {
  background: $white-opacity;
}
